#About {
  background-color: white;
  padding: 6.25rem 0rem;
  .about {
    &_wrapper {
      display: flex;
      padding: 6.25rem 0rem;
      justify-content: center;
      align-items: center;
      gap: 0.9375rem;
      height: 30.5525rem;
    }
    &_avatar {
      width: 23.12375rem;
      height: 30.5525rem;
      cursor: pointer;
      border-radius: 0.625rem;
    }
    &_content {
      width: 50rem;
      height: 30.5525rem;
    }
    &_content-label {
      display: flex;
      width: 6.26563rem;
      height: 1.625rem;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;

      color: #8c89a2;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2.25rem; /* 200% */
      letter-spacing: 0.0625rem;
      text-transform: uppercase;
    }
    &_content-heading {
      margin-top: 0.5rem;
      display: flex;
      width: 23.4375rem;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      color: #3f3a64;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3rem; /* 120% */
    }
    &_content-description {
      margin-top: 0.8rem;
      display: flex;
      width: 46.875rem;
      flex-direction: column;
      justify-content: center;

      color: #37352f;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.625rem; /* 144.444% */
    }
    &_content-button {
      margin-top: 48px;
      button {
        width: 17.32438rem;
        height: 3.375rem;
        flex-shrink: 0;
        border-radius: 0.625rem;
        border: 1px solid #7d11f9;
        background: #7d11f9;
        &:hover {
          opacity: 0.5;
          transition: 0.3s;
          cursor: pointer;
        }
      }
      a {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
      }
      span {
        color: #fff;
        text-align: center;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.75rem; /* 155.556% */
        text-transform: capitalize;
      }
      svg {
        width: 1.20625rem;
        height: 1.125rem;
        flex-shrink: 0;
      }
    }
  }
}
//== Shine effect
//
//##
.shine-overlay {
  position: relative;
  overflow: hidden;

  &:hover .shine {
    display: block;
  }
}

.shine {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.8)),
    to(rgba(255, 255, 255, 0))
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
  z-index: 3;
  opacity: 0;
  transform: skew(30deg);
  animation: shine 0.75s linear 1;
}

@keyframes shine {
  0% {
    left: -50%;
    opacity: 0;
  }
  50% {
    left: 25%;
    opacity: 0.5;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
