#footer {
  padding: 6.66669rem 5.33331rem;
  background: rgba(147, 107, 232, 0.05);
  display: flex;
  justify-content: center;
  .footer {
    &-wrapper {
      width: 75rem;
      display: flex;
      justify-content: space-between;
    }

    &-list-nav {
      list-style: none;
      align-items: center;
      display: flex;
      gap: 2.66669rem;
      .footer-item {
        font-size: 1.33331rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        list-style: none;
        text-transform: capitalize;
        a {
          color: black;
        }
        &:hover {
          cursor: pointer;
          color: #7d11f9;
          transition: 0.3s;
        }
      }

      &-link {
        text-transform: capitalize;
        text-decoration: none;
      }
    }

    &-list-socially {
      list-style: none;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      .footer-item {
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
        &:hover {
          cursor: pointer;
          opacity: 0.5;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
}
