.label {
  display: flex;
  background: rgba(147, 107, 232, 0.05);
  padding: 3rem 7.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  &-content {
    display: flex;
    width: 10.41544rem;
    height: 4.5625rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #3f3a64;
    text-align: center;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.75rem; /* 120% */
  }
}
