#skills {
  background-color: white;
  .skills-tags {
    padding-top: 2.5rem;
    padding-bottom: 3.75rem;
    gap: 0.9375rem;
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: wrap;
    width: 100%;
    .tag_item {
      display: flex;
      padding: 0.25rem 1.25rem;
      justify-content: center;
      align-items: center;
      border-radius: 0.75rem;
      color: #4b5563;

      border: 1px solid #4b5563;
      background: #fff;

      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25rem;
      cursor: pointer;
    }
  }

  .skills {
    padding: 6.25rem 0;
    background: #fff;
    display: flex;
    height: 43rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    &_wrapper {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
    &_lists {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
    }
    &_item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .icon_skill {
      width: 5rem;
      height: 5rem;
      flex-shrink: 0;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      fill: rgba(255, 255, 255, 0.1);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      &:hover {
        cursor: pointer;
        transition: 0.2s;
        overflow: hidden;
        scale: 1.15;
        fill: rgba(255, 255, 255, 0.5);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
      }
    }
    &_item-title {
      color: #4b5563;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.75rem;
    }
  }
}
